<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Transações{% endblock %}

{% block content %}
<div class="container-fluid listatrans-div">
    <h2>Transações</h2>
    <div class="row">
        <div class="col-md-8 filtermeio-div">
        <!-- Configuração da ação do filtro -->
            <span>Meio de Pagamento:</span>
            <select name="filtermeio" id="filtermeio" class="form-control">
                <option value="*">Todos</option>
                {% for meio in listameios %}
                    {% if filtermeioatual == meio.cod %}
                        <option value="{{ meio.cod }}" selected>{{ meio.nome }}</option>
                    {% else %}
                        <option value="{{ meio.cod }}">{{ meio.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 btntransnew-div">
            <!-- Configuração do botão criar -->
            <!-- <h2>Transações</h2> -->
            <a class="fas fa-plus btn btn-primary" id="btntransnew" href="/trans/transnew">&nbsp Criar</a>
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <ul class="messagelist">
        <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} > <strong>{{message}}</strong> </li>
    </ul>
    {% endfor %}
    {% endif %}
    <div class="container tab-trans">
        <table class="table">   <!--  table-bordered table-sm  -->
            <thead>
            <tr>
                <th>Dia</th>
                <th>Mes</th>
                <th>Ano</th>
                <th>Valor</th>
                <th>Conta</th>
                <th>Descrição</th>
                <th>Meio</th>
                <th>Empréstimo</th>
            </tr>
            </thead>
            <tbody>
            {% for trans in listatransfiltro %}
            <tr>
                <td>{{trans.dia}}</td>
                <td>{{trans.mes}}</td>
                <td>{{trans.ano}}</td>
                <td>{{trans.valor}}</td>
                <td>{{trans.conta}}</td>
                <td>{{trans.descr}}</td>
                <td>{{trans.meio}}</td>
                <td>{{trans.nomeemprest}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</html>
