/* Para ocupar a tela inteira */
.container-fluid {
    padding: 0;
}

/* Navbar */
/* coloca bold no botão principal (brand) */
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}
.nav-item {
    margin-left: 20px;
    font-size: 17.5px;
}
.form-inline {
    margin-left: 25px;
}

/* Main Dash */
.maindash-div {
    margin-left: 0px;
}
.maindash-div h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.lista-saldo td {
    font-size: 13px;
    font-weight: bold;
}

.lista-saldo td.text-right {
    font-size: 12px;
}

.lista-saldo th {
    font-size: 13px;
}

/* Local New */
.localnew-div h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 0;
    color: blue;
}

/* Local Edit */
.localedit-div h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 0;
    color: blue;
}

/* Local View */
.localview-div h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 0;
    color: blue;
}

/* filter meio*/
.filtermeio-div {
    margin-bottom: 15px;
    padding: 0;
    margin-left: 130px;
    font-weight: bold;
}

#filtermeio {
    width: 160px;
    margin-left: 5px;
    display: inline-block;
}

#saldomeio {
    margin-left: 150px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

/* Search
.flex-container {
  display: flex;
  flex-direction: row;
}

.searchlocal-div {
    position: absolute;
    padding: 0;
    margin-left: 380px;
    margin-bottom: 15px;
    width: 400px;
}

.bot-search-local {
    position: absolute;
    color: blue;
    top: 12px;
    right: 16px;
    cursor: pointer;  /* pointer para a lupa
} */

/* Messages */
.messagelist {
    margin-left: 125px;
    width: 700px;
    text-align: center;
    list-style: none;
}

/* botão adicionar Transação */
.btntransnew-div {
    margin-left: 30px;
    margin-top: 5px;
}

#btntransnew {
    width: 95px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

/* Tira asterísco dos campos obrigatórios */
.asteriskField {
    display: none;
}

/* Lista Transações */

.listatrans-div h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 550px;
}

.lista-trans td {
    font-size: 12px;
    font-weight: bold;
}

.transnew-div h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}